@import 'theme.scss';
@import 'table.scss';

html, body {
  @apply h-full overflow-hidden;
}

.snackbar-wrapper {
  z-index: 1001;
}

body {
  background-image: radial-gradient(at 35% 35%, hsla(160, 84%, 39%, .18) 0px, transparent 50%), radial-gradient(at 61% 60%, hsla(238, 83%, 66%, .18) 0px, transparent 50%);
}

.wrapper-link {
  text-decoration: inherit !important;
  color: inherit !important;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-inner-spin-button,
.no-spinner {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield !important;
}

.sticky-header .table {
  overflow: auto;
}

.sticky-header {
  overflow-x: visible;
}

.sticky-header table th {
  position: sticky;
  top: 0;
  z-index: 1;

  @apply bg-surface-200;
  @apply dark:bg-surface-700;
}


